
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Login</h2>
@if (Model != null)
{
    <h2>@Model.Username</h2>
    <h2>@Model.Password</h2>
}
<form action="" method="post">
    <input type="text" name="Username" class="form-control" placeholder="Username" />
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" value="login" class="btn btn-warning" />
</form>