@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zero Hunger</h1>
    <p class="lead">Join us in our mission to eradicate hunger and food waste.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            We are dedicated to feeding deprived people and children. Our goal is to minimize food waste by collaborating with restaurants and preserving excess food for those in need.
        </p>
        <p><a class="btn btn-default" href="#">Get Involved &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join the Cause</h2>
        <p>
            Contribute to our cause by volunteering or donating to support our efforts in providing meals to those facing food insecurity.
        </p>
        <p><a class="btn btn-default" href="#">Donate Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Impact</h2>
        <p>
            With the help of our volunteers and partners, we've successfully rescued tons of food from going to waste, providing nourishment to thousands in need.
        </p>
        <p><a class="btn btn-default" href="#">View Our Impact &raquo;</a></p>
    </div>
</div>
